transformers==4.2.1
datasets==2.0.0
pandas==1.1.5
scikit-learn==0.22.2
prettytable==2.1.0
setuptools==49.3.0
comet_ml==3.23.0
hydra-core==1.1.0
torch
scipy
gradio
omegaconf
mlflow
wikipedia2vec
pycountry
sentencepiece
coclust
munkres